/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  /* display: grid; */
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-font-family-weight);
  background-color: var(--bg-color);
  color: var(--main-color);
  background-image: var(--bg-image);
  background-size: cover;
  padding-block-start: 100px;
  padding-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  margin-block-end: 100px;
  padding-block: clamp(120px, 7.1479rem + 1.5023vw, 136px) 25px;
  /* margin-inline: auto; */
}

.header__logo {
  color: inherit;
  font-family: var(--accent-font-family);
  /* font-size: clamp(3.0625rem, 2.8198rem + 1.0356vw, 4.0625rem); */
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--main-font-family-weight);
  text-transform: uppercase;
  text-decoration: none;
  /* padding-block-start: 100px; */
  padding-block-end: 20px;
  text-align: center;
}

.content-section {
  inline-size: var(--main-inline-size);
  margin-inline: auto;
}

.header__title {
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-weight);
  text-transform: uppercase;
  /* font-size: clamp(0.875rem, 0.7385rem + 0.5825vw, 1.4375rem); */
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-end: 25px;
  text-align: center;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 7px;
  /* padding-block-start: 5px; */
  padding-inline-start: 20px;
  /* padding-block-end: 25px; */
}

.theme-menu__button {
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-weight);
  font-size: 14px;
  background: transparent;
  border: none;
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  inset-inline-start: -20px;
  animation: move-arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  scale: 0;
  height: 2px;
  background-color: var(--main-color);
  transform-origin: left;
  transition: scale 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.section__card {
  display: grid;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
}

.section__card:not(:last-child) {
  margin-block-end: 50px;
}

.section__card-title {
  font-variation-settings: var(--main-font-family);
  font-size: 18px;
  line-height: 21px;
  color: var(--main-color);
  padding: 5px 10px;
  font-variation-settings: "wght" var(--heading-font-weight);
}

.section__card-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-block: 2px solid currentColor;
}

.section__content {
  font-variation-settings: var(--main-font-family);
  font-variation-settings: "wght" var(--main-font-family-weight);
  line-height: 21px;
  font-size: 18px;
  padding-inline: 25px;
}

.section__content:not(:last-of-type) {
  margin-block-end: 27px;
}

.section__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-inline-end: 25px; */
  margin: 26px 40px 25px;
  /* padding-block-end: 25px; */
  /* gap: 10px; */
}

.card__like-button {
  background-color: transparent;
  border: 2px solid var(--main-color);
  padding-block: 9px;
}

.button__text {
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-weight);
  line-height: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.section__wrapper {
  position: relative;
  margin-block-end: 20px;
}

.section__wrapper__img-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: inherit;
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-family-weight);
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 1px 0 var(--color-img-label), 1px 0 0 var(--color-img-label),
    0 -1px 0 var(--color-img-label), -1px 0 0 var(--color-img-label);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .section__wrapper__img-label {
    -webkit-text-stroke: 1px var(--color-img-label);
    text-stroke: 1px var(--color-img-label);
    text-shadow: none;
  }
}

/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 50px;
}

.floppy-icon {
  inline-size: clamp(1.31rem, 1.1551rem + 0.6610vw, 1.75rem);
  inline-size: 21px;
  block-size: 21px;
  color: var(--main-color);
}

.footer__save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid currentColor;
  background-color: var(--bg-color);
  padding: 15px 20px;
  inline-size: clamp(19.12rem, 18.4932rem + 2.6742vw, 20.9rem);
  inline-size: clamp(310px, 18.7368 + 2.723vw,);
}

.button__text {
  font-size: 14px;
} */

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  max-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: currentColor;
}

.card__like-button {
  min-inline-size: 130px;
  padding-block: 9px;
}

.content-button {
  position: relative;
  color: var(--main-color);
  border: 2px solid currentColor;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
}

.content-button:focus {
  outline: none;
}

.content-button:focus-visible {
  box-shadow: 2px 2px 0px var(--main-color);
}

.content-button::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--save-color);
  translate: -100%;
  transition: 0.5s translate ease-in-out;
  mix-blend-mode: difference;
}

.content-button:hover::after {
  translate: 0%;
}

.button__text {
  position: relative;
  color: var(--main-color);
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  font-weight: inherit;
  line-height: 90%;
}

.footer {
  margin-block-start: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__save-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
  inline-size: clamp(310px, 18.7368rem + 2.723vw, 339px);
  padding: 15px;
}

.floppy-icon {
  inline-size: calc((100% + 30px) * (-0.2414) + 101.862px);
  color: var(--main-color);
}

.sparks {
  opacity: 0;
}

.popup {
  /*  inline-size: clamp(341px, 21.0484rem + 1.1268vw, 353px); */
  /* padding-block: 30px; */
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  /* inline-size: clamp(21.3rem, 21.0573rem + 1.0356vw, 22.3rem); */
  padding: 30px;
}

.popup::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.popup__content {
  /* padding-block: 30px; */
  /* inline-size: clamp(17.18rem, 16.9057rem + 1.1702vw, 18.31rem); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  inline-size: clamp(257px, 15.2702rem + 3.3803vw, 293px);
  gap: 30px 20px;
  padding-block-end: 30px;
  margin: 0 auto;

  /* display: flex;
  inline-size: clamp(257px, 15.2702rem + 3.3803vw, 293px);
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px; */
}

.popup__content-icon {
  inline-size: 39px;
  aspect-ratio: 1/1;
}

.popup__content-text {
  color: var(--main-color);
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: var(--main-font-family-weight);
  line-height: 21px;
  text-transform: uppercase;
  flex: 1 1 0;
}

.popup__content-form {
  inline-size: 100%;
}

.button-close {
  inline-size: 100%;
  padding-block: 12.5px;
}


.filter-saturate {
  filter: saturate(2);
}

.filter-invert {
  filter: invert(0.2);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-hue-rotate {
  filter: hue-rotate(20deg);
}

.filter-brightness {
  filter: brightness(1.2);
}

.filter-blur {
  filter: blur(0.1rem);
}

.filter-sepia {
  filter: sepia(1);
}

.filter-multi {
  filter: saturate(1.4) brightness(1.2) ;
}