/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --main-font-family-weight: 400;
  --heading-font-weight: 700;
  --main-color: #000000;
  --bg-color: #ffffff;

  --bg-image: repeating-linear-gradient(
      to left,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    --color-img-label: var(--bg-color);
    --save-color: var(--bg-color);
}

:root.theme-dark {
  --main-font-family-weight: 465;
  --heading-font-weight: 785;
  --main-color: #00cc14;
  --bg-color: #000000;
  --save-color: var(--main-color);

  --bg-image: repeating-linear-gradient(
      to left,
      #000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);

    --color-img-label: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-font-family-weight: 465;
    --heading-font-weight: 785;
    --main-color: #00cc14;
    --bg-color: #000000;
    --save-color: var(--main-color);

    --bg-image: repeating-linear-gradient(
        to left,
        #000 0px 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);

      --color-img-label: var(--bg-color);
  }
}
